.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 100px;
}
.nav-items{
    padding: 0px 50px;
}
.nav-items >ul{
    display: flex;
    font-size: 22px;
}
.nav-items >ul>li{
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.res-container{
    width: 100%;
    display: ruby;
}
.restau-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.restau-card{
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color:#f0f8ff;
}
.restau-img{
    width: 200px;
    height: 150px;
}
.toprated-btn{
    margin: 10px;
    cursor: pointer;
}